{% extends "base.html" %} 
{% load static %} 
{% block content %} 

<div class="comment"> 
    <p>{{ comment.content }}</p> 
    <div class="voting"> 
        <button class="upvote" data-comment-id="{{ comment.id }}"> 
            👍 <span id="upvotes-{{ comment.id }}">{{ comment.upvotes_count }}</span> 
        </button> 
        <button class="downvote" data-comment-id="{{ comment.id }}"> 
            👎 <span id="downvotes-{{ comment.id }}">{{ comment.downvotes_count }}</span> 
        </button> 
    </div> 
</div>