{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>About GlucoGroove</h1>
    <p>GlucoGroove is dedicated to helping you manage your diabetes effectively and efficiently.
        Our tools allow you to track your blood sugar levels, monitor your carbohydrate intake, and manage your insulin doses all in one place.</p>
    <p>Our mission is to make diabetes management simpler and more intuitive, empowering you to take control of your health.</p>
    <p>In addition to our robust tracking tools, GlucoGroove features a dynamic blog where users can share their experiences, insights, and tips.
        We believe in fostering a supportive community where individuals can learn from one another, exchange stories, and build connections.</p>

    <h2>Our Story</h2>
    <p>Founded by individuals who understand the challenges of living with diabetes,
        GlucoGroove aims to provide comprehensive and user-friendly solutions for all your diabetes management needs.
        Our community-driven approach ensures that everyone feels heard and supported.
        We are passionate about making a positive impact on the lives of those living with diabetes
        and are committed to continuous improvement and innovation.
    </p>


</div>
{% endblock %}

